<!DOCTYPE html>
<!--                                   Effect Display                                         -->
<!------------------------------- Origin: Posts from xz.aliyun.com ----------------------------->
<!--          Title         Author          Tags         Datetime          Links              -->
<!--          *****         ******          ****         ********          *****              -->
<!---------------------------      End of Origin + Separator       ----------------------------->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakfast for Security Researcher</title>
</head>
<body>
    <h1 align="center"> Breakfast for today: {{date}} </h1><br/>

    {% for item in results %}
    <table border="1" align="center" width="1125px">
        <tr align="center" height="60px">
            <td colspan="5">Origin: Posts from <font color="red"><b><em>{{item['Origin']}}</em></b></font></td>
        </tr>
        {% if item['Len']>0 %}
            <tr align="center">
                <td>Title</td>
                <td>Author</td>
                <td>Tag</td>
                <td>Datetime</td>
                <td>Link</td>
            </tr>
                {% for article in item['Articles'] %}
                <tr align="center">
                    <td>{{article.title}}</td>
                    <td>{{article.author}}</td>
                    <td>{{article.tag}}</td>
                    <td>{{article.date}}</td>
                    <td><a href="{{article.link}}">{{article.link}}</a></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr align="center">
                <td colspan="5">今天还没更新，半小时后再来</td>
            </tr>
        {% endif %}
    </table>
    <hr/>
    {% endfor %}

</body>
</html>
